.top3em { margin-top: 3em; } /* ecs! */
.noindent { text-indent: 0; }
.monospaced { font-family: "Courier New", monospace; }
.centered { text-align: center; }
.underlined { text-decoration: underline; }
.striked { text-decoration: line-through; }
