@charset "utf-8";
@media all {
body {
	text-align: center; /* per centrar el DIV#principal amb IE */
	margin: 0 0 30px 0; }

/* ============ */
/* --- Menu --- */
/* ============ */
#header, #footer {
	position: relative;
	width: 750px;
	padding: 15px; /* per què compensi el border de #principal a Mozilla */
	margin-left: auto; margin-right: auto; /* per centrar-lo. No funciona amb IE */
	text-align: left; /* perquè BODY té text-align:center (culpa d'IE) */}

#header { height: 11.5em; padding-bottom: 0; }
#footer { height: 7em; margin-top: 0; margin-bottom: 40px; }

#txtCSS {
	position: absolute; left: .4em; top: 0;
	font-size: 8em; letter-spacing: .4em; font-weight: 900; }
#txtEnCatala {
	position: absolute; left: 1.8em; top: 1.6em;
	font-size: 3em; font-style: italic; font-weight: normal; letter-spacing: 20px;}

/* BUTTONS */
.navPrev a, .navNext a, .navTOC a {
	display: block;
	position: absolute; bottom: -.6em;
	border: 2px solid;
	padding: 8px 10px 10px 10px; }
.navPrev a { left: 500px; }
.navNext a { left: 550px; }
.navTOC a { left: 600px; }
/* bottom buttons */
#footer .navPrev a, #footer .navNext a, #footer .navTOC a { bottom: 1em; }


.menuGral {
	position: absolute; right: .5em; top: .5em;
	width: 9em;
	text-align: center;
	border: 1px dashed; }
.menuGral a {
	display: block;
	padding: 2px; }

.menuSkin {
	position: absolute; right: 12em; top: 1em;
	width: 9em;
	padding: 0;
	text-align: center;
	border: 1px dashed; }
.menuLang {
	position: absolute; left: 8em; top: 9em;
	z-index: 3; }
.menuLang input {
	margin-left: 15px; }

#capSeguent {
	border: 2px solid;
	text-align: right;
	padding: 5px;
	margin-top: 60px;
}



/* ======================= */
/* --- DIVs principals --- */
/* ======================= */

#main {
	width: 750px;
	margin-bottom: 0;
	margin-left: auto; margin-right: auto; /* per centrar-lo. No funciona amb IE */
	text-align: left; /* perquè BODY té text-align:center (culpa d'IE) */
	border: 15px dashed; border-top-style: none; }

#main2 {
	border: 1px solid;
	padding: 20px; }



/* ============ */
/* --- Code --- */
/* ============ */
pre.codi { width: 600px; overflow: auto; }
pre.codi2 { width: 600px; overflow: auto; }

div.popup {
	z-index: 2;
	position: absolute;
	width: 400px; height: 300px;
	overflow: auto; visibility: hidden;
	background-color: #eee; /* també està a 'style', però és necessari */
}

div.pregunta {
	margin: 50px -20px;
}

#footer2 {
	width: 500px;
	border: 1px solid;
	padding: 10px;
	margin-left: auto; margin-right: auto; /* per centrar-lo. No funciona amb IE, però ja té text-align al BODY */ }
}