@charset "utf-8";

li.seccio {
font-size: 1.4em;
margin-top: 1em;
list-style-image: none;
list-style-type: none; }

li.capitol {
margin: .4em 0 .4em -40px;
font-size: .8em;
list-style-image: none;
list-style-type: none; }

li.subcapitol {
margin: .2em 0 .2em -20px;
font-size: .9em; }
